.shipForm{
    margin: 30px 100px;
}

.shipForm input{
    display: block;
    margin-top: 30px;
    padding: 5px;
    border: 1px solid rebeccapurple;
    border-radius: 5px;
    width: px;
}

.error{
    color: red;
}