.product{
    display: flex;
    text-align: justify;
    border-bottom:1px solid lightgray;
    margin-right: 10px;
    margin-bottom: 5px;
    padding-bottom: 10px;
    padding-top: 5px;

}

.product-name{
    margin-left: 10px;
}
.product-name h4{
    color: blue;
    font-weight: 700;
}

.add-cart{
    background-color:goldenrod ;
    border:1px solid lightslategray;
    border-radius: 5px;
    width: 155px;
    height: 30px;
    color:white;
    cursor: pointer;
}

.add-cart:hover{
    background-color: blueviolet;
}